<!DOCTYPE html>
<html>
<head>
    <title>FFF - Forum För Fårskallar</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- Inputformulär -->
    <form method="post" action="/">  <!-- ← Ändra action till "/" -->
        <table>
            <tr>
                <td>Användarnamn:</td>
                <td><input type="text" name="name"/></td>  <!-- ← name="name" -->
            </tr>
            <tr>
                <td>Lösenord:</td>
                <td><input type="password" name="password"/></td>  <!-- ← name="password" -->
            </tr>
        </table>
        <p><input type="submit" value="Logga in"/></p>
    </form>
    
    <form action="/logout">
        <input type="submit" value="Logga ut" />
    </form>
    <hr />
</body>
</html>